@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  font-family: "Anton";
  margin: 0;
  background-color: transparent;
}

html {
  background-color: #FEECE5;
  background: linear-gradient(to top, #FEECE5 5%, #FECDC3 95%);
  height: 100%;
}

.navbar {
  padding: 0px;
  display: flex;
  align-items: center; /* Vertically */
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
}

.navbar #logo {
  filter: invert(57%) sepia(49%) saturate(5266%) hue-rotate(327deg) brightness(98%) contrast(81%);
  position: relative;
  top: 5px;
  height: 60px;
}

.navbar #profile {
  position: fixed;
  top: 25px;
  right: 0;
  height: 20px;
}

.navbar #profile-icon {
  position: relative;
  right: -55px;
  top: -10px;
  height: 30px;
  width: 30px;
}

.navbar #profile-name {
  text-decoration: none;
  font-size: 20px;
  position: relative;
  text-align: right;
  top: -60px;
  right: 30px;
  padding: 10px;
  background-color: #281502;
  background-image: linear-gradient(to top, #70400d, #281502);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.navbar .links {
  margin-right: auto;
}

.navbar a {
  background-color: #281502;
  background-image: linear-gradient(to top, #70400d, #281502);
  background-size: 100%;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-right: 30px;
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  background-color: #E45F5E;
  background-image: linear-gradient(to top, #fd7a7a 10%, #E45F5E 90%);
  background-size: 100%;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.navbar #profile-name:hover {
  background-color: #E45F5E;
  background-image: linear-gradient(to top, #fd7a7a 10%, #E45F5E 90%);
  background-size: 100%;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.menu-line {
  width: 30px;
  height: 4px;
  background-color: black;
  margin-bottom: 6px;
}

.collapsed-menu-button {
  display: none;
  margin: 0;

  border: none;
}

.collapsed-menu {
  display: none;
}

.collapsed-menu > a {
  border-top: 2px solid black;

  padding: 20px 0px;

  background-color: #281502;
  background-image: linear-gradient(to top, #70400d, #281502);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-right: 30px;
  font-size: 30px;
  text-decoration: none;
  width: 100%;
}

.collapsed-menu > a:hover {
  background-color: #E45F5E;
  background-image: linear-gradient(to top, #fd7a7a 10%, #E45F5E 90%);
  background-size: 100%;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.content {
  display: block;
  margin: 20px 20px;
  margin-top: 90px;
  padding: 10px;
}

/* Mobile navigation menu */
@media screen and (max-width: 850px) {
  .content {
    display: block;
    margin: 90px 20px;
    padding: 10px;
  }

  .navbar #logo {
    position: absolute;
    top: 15px;
  }

  .links {
    display: none;
  }

  .collapsed-menu-button {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 33px;
    right: 30px;
  }

  .navbar #profile-icon {   
    display: flex;
    position: absolute;
    right: 55px;
    top: 6px;
  }

  #profile-name {
    display: none;
  }

  .collapsed-menu {
    position: fixed;
    top: 90px;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    text-align: center; 

    background-color: #FEECE5;
    background: linear-gradient(to top, #FEECE5 5%, #FECDC3 95%);
  }
}
