@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  font-family: "Anton";
  margin: 0;
  background-color: transparent;
}
html {
  background-color: #FEECE5;
  background: linear-gradient(to top, #FEECE5 5%, #FECDC3 95%);
  height: 100%;
}
.navbar {
  padding: 0px;
  display: flex;
  align-items: center; /* Vertically */
  margin: 0 auto;
}
.navbar #logo {
  filter: invert(57%) sepia(49%) saturate(5266%) hue-rotate(327deg) brightness(98%) contrast(81%);
  position: relative;
  top: 5px;
  height: 60px;
}
.navbar #profile-icon {
  position: absolute;
  top: 30px;
  right: 25px;
  height: 30px;
}
.navbar #profile-name {
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  text-align: right;
  top: 30px;
  right: 70px;
}
.navbar .links {
  margin-right: auto;
}
.navbar a {
  color: black;
  margin-right: 30px;
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
}
.navbar a:hover {
  color: #E45F5E;
}
.menu-line {
  width: 30px;
  height: 4px;
  background-color: black;
  margin-bottom: 6px;
}
.collapsed-menu {
  display: none;
  margin: 0;
}
.content {
  display: block;
  margin: 20px 20px;
  padding: 10px;
}
/* Mobile navbar menu */
@media all and (max-width: 850px) {
  .content {
    display: block;
    margin: 90px 20px;
    padding: 10px;
  }
  .navbar #logo {
    position: absolute;
    top: 15px;
  }
  .links {
    position: absolute;
    text-align: center;
    top: 90px;
    right: -14px;
    width: 100%;
  }
  .navbar-item {
    display: none;
    position: relative;
    border-top: 2px solid black;
  }
  .collapsed-menu {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
  }
  .navbar #profile-icon {
    display: flex;
    position: absolute;
    top: -60px;
    right: 105px;
  }
  #profile-name {
    display: none;
  }
  .btn-active {
    display: block;
  }
  .hide-content {
    display: none;
  }
}
